<a href="https://colab.research.google.com/github/kumarbirendra/ai-ml-analysis/blob/master/INFY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Import finance API and get historical stock data
!pip3 install yfinance
import yfinance as yf
import os
import json
import pandas as pd


infy = yf.Ticker("INFY.NS")
infy_hist = infy.history(period="max")

infy_hist

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.80-py2.py3-none-any.whl (29 kB)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.80

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1996-01-01 00:00:00+05:30,0.537758,0.538948,0.535116,0.538948,204800,0.0,0.0
1996-01-02 00:00:00+05:30,0.537759,0.540402,0.536768,0.536768,204800,0.0,0.0
1996-01-03 00:00:00+05:30,0.540402,0.540402,0.540402,0.540402,102400,0.0,0.0
1996-01-04 00:00:00+05:30,0.535116,0.537759,0.535116,0.536834,307200,0.0,0.0
1996-01-05 00:00:00+05:30,0.530491,0.530491,0.530491,0.530491,51200,0.0,0.0
...,...,...,...,...,...,...,...
2022-10-17 00:00:00+05:30,1476.900024,1495.000000,1475.500000,1489.949951,4286396,0.0,0.0
2022-10-18 00:00:00+05:30,1510.000000,1510.949951,1497.250000,1503.699951,4692004,0.0,0.0
2022-10-19 00:00:00+05:30,1504.000000,1504.949951,1481.300049,1485.449951,3553171,0.0,0.0
2022-10-20 00:00:00+05:30,1475.000000,1504.000000,1474.199951,1500.900024,4583939,0.0,0.0
2022-10-21 00:00:00+05:30,1500.300049,1506.000000,1491.349976,1500.500000,3594485,0.0,0.0